In [11]:
import pandas as pd
import os

In [176]:
# Словарь датафреймов
dfs = {}

# Проход по всем файлам
for fl in os.listdir('src/'):
    if fl.endswith('.csv'):
        file_path = os.path.join('src/', fl)
        # Читаем в df
        df = pd.read_csv(file_path, sep = ';')
# Сохраняем датафрейм в словаре с именем без расширения
        dfs[os.path.splitext(fl)[0]] = df
# Хотя, лучше откажемся от данного варианта

In [257]:
import pandas as pd

# Загрузка данных из CSV-файлов
contact_preference = pd.read_csv('src/contact_preference.csv', sep = ';')
customer_preferenced_contact_type = pd.read_csv('src/customer_preferenced_contact_type.csv', sep = ';')
customer = pd.read_csv('src/customer.csv', sep = ';')
customers_segments = pd.read_csv('src/customers_segments.csv', sep = ';')
location = pd.read_csv('src/location.csv', sep = ';')
product_feedback = pd.read_csv('src/product_feedback.csv', sep = ';')
product = pd.read_csv('src/product.csv', sep = ';')
purchase = pd.read_csv('src/purchase.csv', sep = ';')
segment = pd.read_csv('src/segment.csv', sep = ';')
service_feedback = pd.read_csv('src/service_feedback.csv', sep = ';')

# Объединение таблиц
# 1. Объединяем покупки с продуктами
purchase_product = purchase.merge(product, left_on='product_id', right_on='id', suffixes=('', '_product'))

# 2. Объединяем с отзывами по продуктам
purchase_product_feedback = purchase_product.merge(product_feedback, left_on='id', right_on='purchase_id', suffixes=('', '_feedback'))

# 3. Объединяем с клиентами для получения информации о пользователе
purchase_info = purchase_product_feedback.merge(customer, left_on='user_id', right_on='id', suffixes=('', '_customer'))

# 4. Получаем информацию о сегментах
purchase_info_segment = purchase_info.merge(customers_segments, left_on='user_id', right_on='customer_id', suffixes=('', '_segment'))

# 5. Объединяем с сегментами
purchase_info_segment = purchase_info_segment.merge(segment, left_on='segment_id', right_on='id', suffixes=('', '_segment_info'))

# Теперь мы можем агрегировать нужные метрики для витрины пользователей
user_summary = purchase_info_segment.groupby('user_id').agg(
    total_purchases=('id', 'count'),
    total_spent=('price', 'sum'),
    average_product_rating=('rating', 'mean'),
#     Вот тут ошибка, пока не придумал, как ее починить
#     highest_rated_product=('product_name', lambda x: x[product_feedback['rating'].idxmax()]), 
    most_popular_category=('category_name', lambda x: x.mode()[0]),
    total_reviews=('review', 'count')
).reset_index()

user_summary

,user_id,total_purchases,total_spent,average_product_rating,most_popular_category,total_reviews
0,1,6,14.9914.9949.9959.997.9910.99,8.000000,Games,6
1,2,8,14.9914.999.4912.4939.9959.9912.9914.99,8.125000,Books,8
2,3,4,19.9915.9912.9910.99,8.750000,Books,4
3,4,8,7.9919.9914.9915.9926.999.4914.9914.99,7.625000,Books,8
4,5,3,19.9914.998.49,9.000000,Books,3
5,6,4,49.9959.9914.9959.99,6.750000,Games,4
6,7,4,14.9910.997.9912.99,7.500000,Books,4
7,8,9,29.9929.9912.9959.9914.9929.9913.4911.9910.99,7.000000,Books,9
8,9,7,29.9912.9914.9919.9915.9914.9914.99,7.857143,Movies,7
9,10,3,12.9929.9912.99,8.000000,Books,3
10,11,6,59.9959.9939.9912.9911.9912.99,6.333333,Games,6
11,12,4,10.9912.499.9914.49,7.750000,Books,4
12,13,2,14.9910.49,8.500000,Books,2
13,14,10,9.9949.9929.9939.9959.9914.4911.9910.9919.9912.99,8.300000,Games,10
14,15,1,10.49,6.000000,Books,1
15,16,4,14.9910.9911.9912.99,6.750000,Books,4
16,17,7,14.9939.9914.9959.9914.9959.9911.99,8.428571,Games,7
17,18,5,49.9912.9912.9912.9924.99,7.000000,Games,5
18,19,5,9.9914.9912.9914.4912.49,7.200000,Movies,5
19,20,1,39.99,5.000000,Games,1
20,21,5,59.9912.999.4929.9911.99,8.600000,Games,5
21,22,2,49.9949.99,8.000000,Games,2
22,23,1,12.99,9.000000,Movies,1
23,24,4,11.9939.9910.9949.99,6.500000,Books,4
24,25,4,10.9949.9915.9959.99,8.750000,Books,4
25,26,5,39.9912.9914.9949.9910.99,8.600000,Games,5
26,27,4,12.9912.999.9910.99,8.250000,Books,4
27,28,7,29.9939.998.999.9959.9914.9912.99,7.714286,Books,7
28,29,3,4.9939.9910.99,6.333333,Games,3
29,30,5,9.9914.998.9914.9914.99,9.400000,Movies,5
30,31,8,49.9912.4911.4910.9914.999.9912.9910.99,7.500000,Books,8
31,32,6,29.9919.9912.9914.9924.9924.99,7.000000,Games,6
32,33,3,29.9914.9912.99,9.666667,Games,3
33,34,4,14.9939.9949.9914.99,6.750000,Games,4
34,35,3,14.9914.4959.99,7.666667,Games,3
35,36,3,10.9911.9910.99,9.333333,Books,3
36,37,2,9.9939.99,5.000000,Books,2
37,38,5,39.9914.9939.9911.4959.99,6.200000,Games,5
38,39,4,14.9929.9914.9911.99,7.500000,Movies,4
39,40,6,12.9929.9914.9929.9912.9912.99,6.833333,Books,6
40,41,4,9.9910.9919.9912.99,7.000000,Books,4
41,42,1,15.99,6.000000,Books,1
42,43,6,12.99Free8.998.9914.9910.99,6.500000,Books,6
43,44,3,12.9914.4939.99,8.666667,Books,3
44,45,11,12.9912.9914.9939.9912.4911.4914.9939.9959.993...,7.090909,Games,11
45,46,6,19.9929.9914.9939.9914.9912.99,7.166667,Games,6
46,47,8,11.9949.9915.9914.9912.9929.9914.4913.49,7.500000,Books,8
47,48,6,14.9912.9939.9949.9959.9910.99,7.833333,Games,6
48,49,5,59.9959.9914.9959.9959.99,7.800000,Games,5